.container {
    width: 80%;
    height: 80vh;
    margin: 10px auto;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.header {
    background-color: #71F553;
    height: 18.75%;
    width: 100%;
}

.content {
    background-color: #ACE3F5;
    height: 65.625%;
    width: 73.68%;
}

.navigation {
    background-color: #9090FA;
    height: 65.625%;
    width: 26.32%;
}

.footer {
    background-color: #F9F2B3;
    height: 15.625%;
    width: 100%;
}